
body {
  background: linear-gradient(to right, #667eea, #764ba2);
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}


.card {
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}


.btn {
  transition: 0.3s;
}

.btn:hover {
  transform: scale(1.05);
}


a {
  text-decoration: none;
}

a:hover {
  color: #ffdd57;
}
